.half-screen {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.welcome-img, .introduction-image {
    display: grid;
    justify-content: center;
    align-items: center;
    align-content: center;
}

.welcome, .form-1 {
    margin-top: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: center;
}
.introduction {
    display: flex;
    margin: 0 170px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: center;
}

.index-header {
    margin: 0%;
    color: #000;
    text-align: center;
    font-family: 'Roboto', sans-serif;
    font-size: 111px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}
.introduction-header {
    color: #000;
    text-align: center;
    font-family: 'Roboto', sans-serif;
    font-size: 39px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.index-content {
    color: #000;
    text-align: center;
    font-family: 'Roboto', sans-serif;
    font-size: 29px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}
.introduction-content {
    color: #000;
    text-align: center;
    font-family: 'Roboto', sans-serif;
    font-size: 28px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}
.form-1-content {
    color: #000;
    font-family: 'Roboto', sans-serif;
    font-size: 28px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.form-1-select {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: center;
}

.form-1-fieldset {
    border-style: none;
}

select {
    width: 470px;
    height: 40px;
    margin-top: 15px;
    margin-bottom: 15px;
    border-radius: 15px;
    text-align: center;

    color: #000;
    text-align: center;
    font-family: 'Roboto', sans-serif;
    font-size: 27px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}   
input {
    appearance: initial;
    border-radius: 15px;
    width: 25px;
    height: 25px;
    background-color: #3EB25E4D;

}
input:checked {
    opacity: 1;
    background-color:  #3EB25E;
}
.same-line {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 170px;
}

.index-button, .introduction-button, .form-1-button {
    width: 199px;
    height: 35.554px;
    border: 35px;
    margin-bottom: 5px;
    flex-shrink: 0;
    border-radius: 35px;
    background: #3EB25E;

    color: #FFF;
    text-align: center;
    font-family: 'Roboto', sans-serif;
    font-size: 22px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}
.next {
    width: 565px;
}
button:hover{
    color: #000;
    background-color: #FFFF7D;
}
