* {
    font-family: 'Roboto', sans-serif;
}
main{
    height: 100vh;
    width: 100vw;
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.left-container {
    margin: 0 0 0 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
    align-content: center;
}
.right-container {
    margin-left: 94px;
    margin-right: 103px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: center;
}

h1 {
    color: #000;
    text-align: center;
    font-size: 39px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.introduction-content {
    color: #000;
    text-align: center;
    font-size: 28px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.same-line {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 43px;
}

.introduction-button {
    width: 199px;
    height: 35.554px;
    border: 35px;
    margin-bottom: 5px;
    flex-shrink: 0;
    border-radius: 35px;
    background: #3EB25E;

    color: #FFF;
    text-align: center;
    font-size: 22px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

button:hover{
    color: #000;
    background-color: #FFFF7D;
}
@media (max-width: 1100px) {
    main {
        grid-template-columns: unset;
        grid-template-rows: 1fr 1fr;
    }
    .left-container {
        align-items: center;
        justify-content: flex-end;
    }
    .right-container {
        margin: 0 0 0 0;
        margin-inline: 13% 14%;
        margin-bottom: 9%;
    }
    
}
@media (max-width: 481px) {
    body {
        height: 100vh;
    }
    img {
        width: 403px;
        height: 350.12px;
    }
    h1 {
        font-size: 30px;
    }
    .introduction-content {
        font-size: 18px;
    }
    .introduction-button {
        max-width: 142px;
        max-height: 26px;
        font-size: 16px;

    }
}
@media (max-width: 300px) {
    main {
        margin-top: 40%;
    }
    .same-line {
        display: flex;
        flex-direction: column;
        margin-top: 20px;
        gap: 20px;
    }
}