main {
    height: 100vh;
    width: 100vw;
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.left-container {
    display: flex;
    justify-content: end;
    align-items: center;
    align-content: center;
}

.right-container {
    margin-top: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: center;
}

h1 {
    margin: 0%;
    color: #000;
    text-align: center;
    font-family: 'Roboto', sans-serif;
    font-size: 111px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.index-content {
    color: #000;
    text-align: center;
    font-family: 'Roboto', sans-serif;
    font-size: 29px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.index-button {
    width: 199px;
    height: 35.554px;
    border: 35px;
    margin-bottom: 5px;
    flex-shrink: 0;
    border-radius: 35px;
    background: #3EB25E;

    color: #FFF;
    text-align: center;
    font-family: 'Roboto', sans-serif;
    font-size: 22px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

button:hover{
    color: #000;
    background-color: #FFFF7D;
}
@media (max-width: 980px) {
    main{
        display: grid;
        grid-template-columns: unset;
        grid-template-rows: 1fr 38%;
    }
    .left-container {
        margin: 0 0 0 0;
        margin-right: 31.25vw;
        padding: 0 0 0 0;
        display: flex;
        align-items: flex-end;
        justify-content: flex-end;
    }
    
    .right-container {
        margin-top: 25px;
        margin-bottom: 76px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
}
@media (max-width: 481px) {
    h1 {
        font-size: 53px;
    }
    .index-content {
        font-size: 24px;
    }
    form {
        margin-bottom: 51px;
    }
    img {
        height: 416px;
        width: 271px;
    }
}
