* {
    font-family: 'Roboto', sans-serif;
}
main {
    display: grid;
    grid-template-columns: 50% 50%;
}

.left-container {
    margin: 0 0 0 0;
    margin-bottom: 21.20%;   
    padding: 0 0 0 0;
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
}

.right-container {
    margin-left: 93.99px;
    display: flex;
    align-items: flex-end;
}
form {
    margin-bottom: 101px;
    margin-top: 22.76%;
    color: #000;
    font-size: 26px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.form1-select {
    margin-top: 0px;
    margin-bottom: 42px;
    display: flex;
    flex-direction: column;
    justify-content: left;
}
.form2-select {
    margin-top: 0px;
    margin-bottom: 29px;
    display: flex;
    flex-direction: column;
    justify-content: left;
}
.form3-text {
    margin-top: 0px;
    margin-bottom: 62px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 466px;
}
.form-fieldset {
    padding: 0px;
    margin: 0px;
    margin-bottom: 20px;
    border-style: none;
}
.special-input {
    margin-left: 10px;
    margin-block: 0px 0px;
    display: flex;
    flex-direction: column;

}
.special {
    width: 459px;
    height: 52px;
    flex-shrink: 0;

    border-radius: 20px;
    border: 1px solid rgba(0, 0, 0, 0.25);
} 
select {
    margin-top: 8px;
    width: 459px;
    height: 52px;
    border-radius: 20px;
    border: 1px solid rgba(0, 0, 0, 0.25);
    
    color: #000;
    text-align: center;
    font-size: 27px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}   

[name="which-market"] {
    appearance: unset;
    vertical-align: text-top;
    border-radius: 15px;
    width: 25px;
    height: 25px;
    background-color: #3EB25E4D;
    margin-right: 11px;
}
[name="information-source"] {
    appearance: unset;
    vertical-align: bottom;
    border-radius: 5px;
    width: 26px;
    height: 26px;
    background-color: #3EB25E4D;
    margin-right: 24px;
}
.investiment-details {
    padding: 10px;
    margin-top: 20px;
    width: 459px;
    height: 225px;
    flex-shrink: 0;
    resize: none;
    align-self: center;

    border-radius: 20px;
    border: 1px solid rgba(0, 0, 0, 0.25);
}

.same-line {
    margin: 0px;
    margin-bottom: 16px;
    width:  532px;
}

.form-button {
    width: 199px;
    height: 35.554px;
    border: 35px;
    flex-shrink: 0;
    border-radius: 35px;
    background: #3EB25E;

    color: #FFF;
    text-align: center;
    font-size: 22px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}
.radio-paragraph {
    margin-block: 12px;
}

.checkbox-paragraph {
    margin-block: 13px;
}

.next {
    margin-left: 15px;
}

.last-button-container {
    margin-top: 14px;    
}
.long-button {
    width: 418px;
    margin-bottom: 0px;
}

input:checked {
    opacity: 1;
    background-color:  #3EB25E;
}

button:hover{
    color: #000;
    background-color: #FFFF7D;
}

.special-input label {
    margin-top: 27px;
    margin-bottom: 8px;
    margin-left: 10px;
}
.input-section {
    margin-bottom: 44px;
}
@media  (max-width: 1140px) {
    main {
        grid-template-columns: unset;
        grid-template-rows: 1fr 1fr;
    }
    .left-container {
        margin: 0 0 0 0;    
        padding: 0 0 0 0;
        display: flex;
        justify-content: center
    }
    
    .right-container {
        margin-left: 53.99px;
        align-items: flex-start;
        justify-content: center;        
    }
    form {
        margin-bottom: 51px;
    }
    img {
        height: 87.7%;
        width: 78%;
    }
}